@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
.container {
  margin:0;
  padding:0;
  font-family: "Lato", sans-serif; 
  margin-top:-10px;
  min-width:100vw;
  
  background-image: url('malwrae.jpg'); 
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120vh;
}  
.form{
  width:400px;
}
.file-upload-wrapper{
  position:relative;
  width:100%;
  height:60px;
  cursor: pointer;
  left:-300px;
  background-color: #fff;
  border-radius:10px;
}

.res{
    margin-top:90px;
    width:100%;
    position:relative;
    left:-300px;
    border-radius: 10px;
    height:60px;
    font-size:20px;
    color:white;
    padding:10px 15px;
    border:none;
    background: -webkit-linear-gradient(to right, #21c915, #cd1010);
  background: linear-gradient(to right, #0cdf91, #e85353);
    
}
.res-text{
    font-size:25px;
    font-weight:500px;
    color:black;
    display: flex;
    margin-top:6px;
    justify-content: center;
    align-items:center;
    color:rgba(0, 0, 0, 0.701);
    padding-bottom:10px;
    font-family: 'Lato', sans-serif;
     
}

.file-upload-wrapper::after{
  content:attr(data-text);
  font-size: 18px;
  position:absolute;
  top:0;
  left:0;
  background:#fff;
  padding:10px 15px;
  display: block;
  width:calc(100% - 40px);
  pointer-events:none;
  z-index: 20;
  height:40px;
  line-height: 40px;
  color:#999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}
.file-upload-wrapper::before{
  content:"Upload";
  position:absolute;
  top:0;
  right:0;
  display: inline-block;
  height:60px;
  background: -webkit-linear-gradient(to right, #21c915, #c46908);
  background: linear-gradient(to right, #f603f6, #cf6813);
  color:#fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 60px;
  padding:0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: 0.5s ease-in-out;
}
.file-upload-wrapper:hover::before{
    background: -webkit-linear-gradient(to right, #21c915, #c46908);
    background: linear-gradient(to right, #f603f6, #cf6813);
}
.file-upload-wrapper input{
  opacity: 0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 99;
  height:40px;
  margin:0;
  padding:0;
  display:block;
  cursor: pointer;
  width:100%;
}
.submitbtn{
    margin-top:50px;
    width:130px;
    margin-left:-200px;
    border-radius: 10px;
    height:50px;
    font-size:20px;
    color:white;
    padding:10px 15px;
    border:none;
    background: -webkit-linear-gradient(to right, #8b3fa2, #08c4b4);
  background: linear-gradient(to right,#8b3fa2,#08c4b4);
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
  font-family: 'Lato', sans-serif;
  
}
.w3-bar .w3-button {
    padding: 16px;
    font-size:25px;
    color:black;
  }
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  